<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="/index.html" class="navbar-brand">Fresh Squeeze</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/gallery.html">Gallery</a></li>
                    <li><a href="/contact.html">Contact</a></li>
               </ul>
          </div>

  </div>
</div>
</body>
</html>
